body{
    background:url("../assets/images/backgrounds/Elegant_Background-8.jpg") top right no-repeat; background-attachment:fixed;
    padding-bottom:40px;
}
#cv-container{
    background-color:white;
    margin-top:40px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 0%, rgba(246,246,246,1) 31%, rgba(246,246,246,1) 31%, rgba(241,241,241,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(0%,rgba(225,225,225,1)), color-stop(31%,rgba(246,246,246,1)), color-stop(31%,rgba(246,246,246,1)), color-stop(100%,rgba(241,241,241,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(225,225,225,1) 0%,rgba(246,246,246,1) 31%,rgba(246,246,246,1) 31%,rgba(241,241,241,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(225,225,225,1) 0%,rgba(246,246,246,1) 31%,rgba(246,246,246,1) 31%,rgba(241,241,241,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(225,225,225,1) 0%,rgba(246,246,246,1) 31%,rgba(246,246,246,1) 31%,rgba(241,241,241,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(225,225,225,1) 0%,rgba(246,246,246,1) 31%,rgba(246,246,246,1) 31%,rgba(241,241,241,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=1 ); /* IE6-9 */
padding-top:40px;
padding-bottom:40px;
}
#avatar{
	margin-top:30px;
	margin-left:40px;
    border:5px solid lightblue;
}
.icon-wrapper{
	padding:15px;
	margin:0px;
	display:inline-block;
	font-size:35px;
	line-height:25px;
	border:5px solid lightblue;
	border-radius:100px;
	margin-left:50px;
}
.hideme{
	visibility:hidden;
}

.table tr th{
	text-transform:uppercase;
}
h1, h2{
	padding-bottom:5px;
	margin-bottom:20px;
	border-bottom:2px solid lightblue;
	font-weight:bold;
}
h2{
	text-transform:uppercase;
	margin-top:100px;
}
h3, h4{
	margin-top:0px;
	padding-bottom:10px;
	border-bottom:1px solid silver;
}
.skill{
	float:left;
	margin-left:10px;
	font-weight:bold;
}
.skill-level{
	float:right;
	margin-right:10px;
	font-weight:bold;
	color:black;
}
.progress{
	font-size: 12px;
  	line-height: 20px;
}